/* POSUN TEXTU DOLŮ - Blowfish background layout */

.relative.flex.flex-col.grow {
    padding-top: 26rem !important;
}

#main-content {
    margin-top: 6rem !important;
    max-width: 720px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Další pojistka */
.prose {
    margin-top: 8rem !important;
}

h1 {
    margin-bottom: 2.5rem !important;
}